In [2]:
import pandas as pd
import numpy as np

C:\Users\fvdel\AppData\Local\Temp\ipykernel_1264\2937650959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
total_df = pd.read_csv("data_csv/result_fragments/new_new_41226 DBS old_cnn_bin_class_12_result_fil_fragments.csv")
total_df.head()

    Ch    Y       Left      Right  Rate
0  ch3  1.0  119.75454  119.77429   4.0
1  ch3  1.0  116.54303  116.55678   4.0
2  ch3  1.0  109.79552  109.80527   4.0
3  ch3  1.0  109.41902  109.44677   4.0
4  ch3  1.0  108.49802  108.51027   4.0

In [4]:
total_df.groupby(["Ch"])["Y"].agg(["count"])

     count
Ch
ch1    238
ch2    238
ch3    425
ch4    289
ch5    183
ch6    174

In [5]:
data_ch3 = total_df[total_df.Ch == "ch3"][["Left", "Right"]].to_numpy()
data_ch4 = total_df[total_df.Ch == "ch4"][["Left", "Right"]].to_numpy()

def check_edges(edges, l_edge, r_edge):
    return ((edges[0] >= l_edge) and (edges[0] <= r_edge)) or ((edges[1] >= l_edge) and (edges[1] <= r_edge))

fragments_indexes = []
for i in range(data_ch3.shape[0]):
    for j in range(data_ch4.shape[0]):
        if check_edges(data_ch4[j], data_ch3[i][0], data_ch3[i][1]) or check_edges(data_ch3[i], data_ch4[j][0], data_ch4[j][1]):
            fragments_indexes.append([i, j])

print(len(fragments_indexes), fragments_indexes)

57 [[20, 71], [29, 51], [30, 97], [30, 98], [32, 86], [35, 87], [35, 88], [61, 130], [67, 136], [68, 137], [85, 189], [91, 214], [92, 219], [93, 200], [93, 201], [99, 180], [104, 232], [107, 237], [114, 260], [132, 26], [139, 37], [147, 47], [148, 47], [155, 35], [158, 40], [171, 54], [180, 62], [195, 78], [204, 72], [207, 97], [207, 98], [208, 99], [211, 81], [213, 82], [216, 87], [216, 88], [219, 94], [222, 95], [228, 117], [233, 107], [274, 130], [275, 130], [277, 157], [278, 157], [287, 152], [313, 169], [314, 150], [329, 185], [335, 189], [343, 191], [354, 219], [362, 229], [372, 237], [375, 225], [404, 266], [412, 274], [412, 275]]

In [22]:
fragments_data = pd.read_csv("data_csv/result_data/new_new_41226 DBS old_cnn_bin_class_12_result_fil_data.csv")

In [23]:
filtered_fragments_data_ch3 = pd.DataFrame(fragments_data.iloc[0], columns=fragments_data.columns)
filtered_fragments_data_ch4 = pd.DataFrame(fragments_data.iloc[0], columns=fragments_data.columns)
fr_data_ch3 = fragments_data[fragments_data.Ch == "ch3"].to_numpy()
fr_data_ch4 = fragments_data[fragments_data.Ch == "ch4"].to_numpy()

In [24]:
for indexes in fragments_indexes:
    filtered_fragments_data_ch3.loc[-1] = fr_data_ch3[indexes[0]]
    filtered_fragments_data_ch3.index = filtered_fragments_data_ch3.index + 1  # shifting index
    filtered_fragments_data_ch3 = filtered_fragments_data_ch3.sort_index()  # sorting by index

    filtered_fragments_data_ch4.loc[-1] = fr_data_ch4[indexes[1]]
    filtered_fragments_data_ch4.index = filtered_fragments_data_ch4.index + 1  # shifting index
    filtered_fragments_data_ch4 = filtered_fragments_data_ch4.sort_index()  # sorting by index

filtered_fragments_data_ch3 = filtered_fragments_data_ch3.drop_duplicates()
filtered_fragments_data_ch3.to_csv("data_csv/filtered_data/41226_cnn_v12_result_fil_ch3_data.csv", index=False)
filtered_fragments_data_ch3.head()

filtered_fragments_data_ch4 = filtered_fragments_data_ch4.drop_duplicates()
filtered_fragments_data_ch4.to_csv("data_csv/filtered_data/41226_cnn_v12_result_fil_ch4_data.csv", index=False)
filtered_fragments_data_ch4.head()

,D_ID,Ch,Y,Length,Rate,0,1,2,3,4,...,502,503,504,505,506,507,508,509,510,511
0,41226,ch4,1.0,0.031,4.0,0.33594,0.325466,0.31411,0.301874,0.288756,...,0.153521,0.156992,0.159396,0.160746,0.161578,0.162169,0.162517,0.162623,0.162488,0.16211
1,41226,ch4,1.0,0.02475,4.0,0.2793,0.29359,0.30483,0.313022,0.318165,...,0.19622,0.198247,0.198634,0.196736,0.192522,0.185993,0.177148,0.165988,0.152512,0.13672
2,41226,ch4,1.0,0.02475,4.0,0.080078,0.089929,0.096683,0.100339,0.100897,...,0.745008,0.74613,0.743122,0.737364,0.728924,0.717801,0.703995,0.687506,0.668335,0.64648
3,41226,ch4,1.0,0.017,4.0,0.15039,0.157049,0.162701,0.167346,0.170984,...,0.119686,0.121625,0.124908,0.129536,0.13551,0.142828,0.151491,0.161499,0.172852,0.18555
4,41226,ch4,1.0,0.029,4.0,0.14063,0.144107,0.145801,0.145714,0.143845,...,-0.542415,-0.557046,-0.575188,-0.592084,-0.588721,-0.563115,-0.515269,-0.44518,-0.352851,-0.23828