In [2]:
import pandas as pd
import numpy as np

C:\Users\fvdel\AppData\Local\Temp\ipykernel_1264\2937650959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [47]:
total_df = pd.read_csv("data_csv/result_fragments/new_new/41226 DBS old_cnn_bin_class_12_result_fil_fragments.csv")
total_df.head()

    Ch    Y       Left      Right  Rate
0  ch1  1.0  101.54175  101.55650   4.0
1  ch1  1.0  101.33100  101.35900   4.0
2  ch1  1.0  101.30550  101.32225   4.0
3  ch1  1.0  101.25450  101.27650   4.0
4  ch1  1.0  101.04550  101.06025   4.0

In [48]:
total_df.groupby(["Ch"])["Y"].agg(["count"])

     count
Ch
ch1    547
ch2    538
ch3    594
ch4    589
ch5    420
ch6    385

In [49]:
ch1 = "ch5"
ch2 = "ch6"

In [50]:
data_ch3 = total_df[total_df.Ch == ch1][["Left", "Right"]].to_numpy()
data_ch4 = total_df[total_df.Ch == ch2][["Left", "Right"]].to_numpy()

def check_edges(edges, l_edge, r_edge):
    return ((edges[0] >= l_edge) and (edges[0] <= r_edge)) or ((edges[1] >= l_edge) and (edges[1] <= r_edge))

fragments_indexes = []
for i in range(data_ch3.shape[0]):
    for j in range(data_ch4.shape[0]):
        if check_edges(data_ch4[j], data_ch3[i][0], data_ch3[i][1]) or check_edges(data_ch3[i], data_ch4[j][0], data_ch4[j][1]):
            fragments_indexes.append([i, j])

print(len(fragments_indexes), fragments_indexes)

92 [[4, 3], [8, 7], [11, 10], [21, 23], [29, 28], [36, 39], [37, 21], [39, 22], [45, 40], [46, 41], [84, 79], [90, 85], [91, 87], [93, 89], [101, 98], [102, 80], [102, 99], [104, 83], [105, 84], [110, 100], [126, 113], [127, 115], [135, 121], [137, 122], [138, 122], [139, 123], [139, 124], [142, 133], [156, 148], [157, 149], [162, 156], [163, 156], [163, 157], [164, 158], [165, 140], [166, 141], [176, 169], [179, 152], [202, 191], [208, 199], [216, 202], [217, 203], [218, 203], [218, 204], [218, 205], [219, 206], [220, 229], [224, 216], [225, 217], [234, 225], [239, 227], [240, 244], [246, 234], [252, 259], [255, 240], [267, 256], [270, 267], [270, 268], [275, 250], [289, 264], [289, 265], [291, 273], [295, 275], [296, 275], [302, 285], [302, 286], [314, 295], [316, 299], [318, 280], [321, 306], [323, 307], [325, 309], [327, 292], [338, 305], [341, 326], [342, 328], [342, 329], [349, 317], [350, 338], [364, 333], [365, 333], [368, 336], [370, 346], [379, 331], [391, 350], [391, 369], [392, 351], [398, 340], [398, 359], [404, 361], [412, 384], [415, 373]]

In [51]:
fragments_data = pd.read_csv("data_csv/result_data/new_new/41226 DBS old_cnn_bin_class_12_result_fil_data.csv")

In [55]:
filtered_fragments_data_ch3 = pd.DataFrame(fragments_data.iloc[0], columns=fragments_data.columns)
filtered_fragments_data_ch4 = pd.DataFrame(fragments_data.iloc[0], columns=fragments_data.columns)
fr_data_ch3 = fragments_data[fragments_data.Ch == ch1].to_numpy()
fr_data_ch4 = fragments_data[fragments_data.Ch == ch2].to_numpy()

In [56]:
for indexes in fragments_indexes:
    filtered_fragments_data_ch3.loc[-1] = fr_data_ch3[indexes[0]]
    filtered_fragments_data_ch3.index = filtered_fragments_data_ch3.index + 1  # shifting index
    filtered_fragments_data_ch3 = filtered_fragments_data_ch3.sort_index()  # sorting by index

    filtered_fragments_data_ch4.loc[-1] = fr_data_ch4[indexes[1]]
    filtered_fragments_data_ch4.index = filtered_fragments_data_ch4.index + 1  # shifting index
    filtered_fragments_data_ch4 = filtered_fragments_data_ch4.sort_index()  # sorting by index

filtered_fragments_data_ch3 = filtered_fragments_data_ch3.drop_duplicates()
filtered_fragments_data_ch3.to_csv(f"data_csv/filtered_data/41226_cnn_v12_result_fil_{ch1}_data.csv", index=False)
filtered_fragments_data_ch3.head()

filtered_fragments_data_ch4 = filtered_fragments_data_ch4.drop_duplicates()
filtered_fragments_data_ch4.to_csv(f"data_csv/filtered_data/41226_cnn_v12_result_fil_{ch2}_data.csv", index=False)
filtered_fragments_data_ch4.head()

,D_ID,Ch,Y,Length,Rate,0,1,2,3,4,...,502,503,504,505,506,507,508,509,510,511
0,41226,ch6,1.0,0.01675,4.0,-0.26563,-0.274406,-0.283238,-0.292126,-0.30107,...,-0.421612,-0.430421,-0.438771,-0.446662,-0.454095,-0.461069,-0.467584,-0.473641,-0.47924,-0.48438
1,41226,ch6,1.0,0.025,4.0,-0.11328,-0.098057,-0.082244,-0.065841,-0.048849,...,0.198464,0.226421,0.262572,0.301415,0.342523,0.385895,0.431532,0.479433,0.529599,0.58203
2,41226,ch6,1.0,0.015,4.0,1.9766,1.974463,1.973197,1.972803,1.973281,...,1.149802,1.171238,1.192377,1.213217,1.233759,1.254004,1.27395,1.293598,1.312948,1.332
3,41226,ch6,1.0,0.016,4.0,0.76367,0.953012,1.128204,1.289246,1.436138,...,0.248337,0.25576,0.261157,0.264526,0.26587,0.265187,0.262477,0.257741,0.250979,0.24219
4,41226,ch6,1.0,0.016,4.0,-0.097656,-0.094993,-0.093023,-0.091745,-0.09116,...,-0.298294,-0.394892,-0.501372,-0.617732,-0.743974,-0.880097,-1.026101,-1.181986,-1.347753,-1.5234

In [60]:
from Files_operating import read_dataFile

tot_signal = read_dataFile("data_csv/41226 DBS old.dat", "")
tot_signal = tot_signal.dropna(axis=1)
fragment_df = tot_signal[(tot_signal.t >= 198.1) & (tot_signal.t <= 227.8)]
fragment_df.head()

                t      ch1      ch2       ch3       ch4      ch5     ch6
392400  198.10019  0.21289  0.16016 -0.181640 -0.083984 -0.68359  1.0859
392401  198.10044  0.22461  0.15625 -0.248050  0.171870 -0.72266  1.2129
392402  198.10069  0.24609  0.15430 -0.087891  0.376950 -0.81836  1.2422
392403  198.10094  0.25391  0.14258  0.177730  0.447270 -0.93945  1.2188
392404  198.10119  0.25195  0.13477  0.386720  0.382810 -1.04300  1.1777

In [61]:
fragment_df.to_csv("data_csv/41226 DBS_fragment_for_DA_analytic.csv", index=False)

In [64]:
tot_signal = read_dataFile("data_csv/41226 DA.dat", "")
tot_signal = tot_signal.dropna(axis=1)
fragment_df = tot_signal[(tot_signal.t >= 98.1) & (tot_signal.t <= 127.8)]
fragment_df.head()

            t       ch1
98100  98.100  0.033230
98101  98.101  0.058792
98102  98.102  0.051123
98103  98.103  0.051123
98104  98.104  0.043455

In [ ]:
fragment_df.to_csv("data_csv/41226 DA_fragment.csv", index=False)